# Target Hardware: ESP32-S3-WROOM-1-N8R8
CONFIG_IDF_TARGET="esp32s3"
CONFIG_IDF_TARGET_ESP32S3=y

# PSRAM 8MB Octal SPI
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y

# Flash 8MB Quad SPI
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# FreeRTOS 1000Hz Tick Rate
CONFIG_FREERTOS_HZ=1000

# Compiler Optimization for Performance
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# Factory Default Gang Configuration (Can be 1, 2, 4, 6, 8, 16)
CONFIG_SWITCH_GANG_COUNT=4
